# General Configuration
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_DESCRIPTION=
MAX_BORROWS_PER_PERIOD=

# Auth
JWT_RESET_SECRET=

# Email (Mailchimp Transactional)
MAILCHIMP_API_KEY=your_mailchimp_transactional_api_key
MAILCHIMP_FROM_EMAIL=ISP Library <hello@yourdomain.com>
FROM_EMAIL=
NEXT_PUBLIC_APP_URL=